*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --green: rgba(241,254,244,0.95)
}

@font-face {
    font-family: Boing;
    src: url(../fonts/GD\ Boing\ Bold.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Graphik;
    src: url(../fonts/GraphikRegular.otf);
    font-weight: 400;
}


@font-face {
    font-family: Graphik;
    src: url(../fonts/GraphikMedium.otf);
    font-weight: 500;
}

body{
    font-family: Graphik;
    line-height: 1.5;
    height: 100%;
}

h1, h2, h3, h4, h5{
    font-family: Boing;
}

header{
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(50px + 24px);
    background: var(--green);
    padding: 12px 0;
}

.container{
    height: auto;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.advert{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0D273C;
    padding: 10px 0;
}

.advert p{
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.advert svg{
    color: #fff;
    margin-left: 10px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}


header svg{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.hamburger__menu svg{
    width: 24px;
    height: 24px;
    display: none;
}

header nav{
    padding: 13px 0;
    padding: 0 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 3;
}

nav .left__nav{
    display: flex;
    align-items: center;
}

.left__nav .logo{
    flex-shrink: none;
    width: 120px;
    margin-right: 10px;
}

.logo img{
    vertical-align: middle;
}

.left__nav ul{
    flex: 1;
    display: flex;
    align-items: center;
}

.left__nav ul li{
    list-style: none;
}

.left__nav ul li a{
    padding: 0 10px;
    font-size: 14.5px;
    font-weight: 500;
    color: #011b33;
    text-decoration: none;
    transition: color .3s ease;
}

.left__nav ul li a:hover{
    color: #0ba4db;
}


nav .right__nav{
    display: flex;
    align-items: center;
}


nav .right__nav ul{
    display: flex;
    align-items: center;
}

.right__nav ul li{
    list-style: none;
    position: relative;
    transition-delay: 0s;
    
}

.large_menu{
    width: min(100%, 600px);
    padding: 0 !important;
    overflow: hidden;
}

.mega__menu .mega__menuWrapper{
    display: flex;
}

.mega__menuGap{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    padding: 28px 20px;
    flex: 1;
}

.mega__menu h4{
    font-size: 15px;
    font-family: Graphik;
    font-weight: 500;
    transition: color 0.3s ease;
}

.mega__menu p{
    font-size: 14px;
    font-weight: 300;
}


.mega__menuImg{
    width: 50px;
    height: 50px;
    overflow: hidden;
    flex: none;
    border-radius: 50%;
}

.mega__menuItem{
    display: flex;
    align-items: flex-start;
    gap: 1.5em;
}


.mega__menuImg img{
    width: 50px;
    height: auto;
    transition: all .4s ease;
}

.mega__menuItem:hover .mega__menuImg img{
    transform: scale(1.2);
}

.mega__menuItem:hover h4{
    color: #0ba4db;
}

.mega__menuRight{
    flex-basis: 250px;
    background: rgba(209, 224, 249, 0.141);
    border-left: 1px solid rgba(209, 224, 249, 0.323);
    padding: 24px
}
.mega__menuRight ul li a{
    margin: 0 !important;
    padding: 0 !important;
    font-size: 15px !important;
    line-height: 1.5;

}

.menuRight__top{
    margin: 0 0 30px;
}

.mega__menuRight ul{
    margin: 10px 0;

}

.menuRight__top p{
    font-size: 11px;
    color: #444;
    /* line-height: 2; */
    /* margin-bottom: 10px; */
}

.menuRight__bottom p{
    font-size: 11px;
    color: #444;
    line-height: 2;
} 


.mega__menuRight ul{
    display: block !important;
}




.sub-menu{
    position: absolute;
    min-width: 150px;
    padding: 20px 15px;
    opacity: 0;
    visibility: hidden;
    display: block !important;
    background: #fff;
    order: solid 1px rgba(0,0,0,0.04);
    box-shadow: 0 8px 16px 0 rgb(3 49 86 / 8%);
    border-radius: 6px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
    transform: translateY(10px);
    line-height: 1.7;
}


.right__nav ul li:hover .sub-menu{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    
}

.left__nav ul li:hover .sub-menu{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    
}



.right__nav ul li a{
    display: block;
    text-decoration: none;
    color: #011b33;
    font-weight: 500;
    font-size: 14.5px;
    padding: 0 10px;
    transition: color .3s ease;
}

.sub-menu li a{
    padding: 2px 0 !important;
}

.right__nav ul li a:hover{
    color: #0ba4db;
}

.right__nav .register__btn{
    margin: 0 10px;
} 

.paystack__btn{
    border: none;
    font-family: Graphik;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    background: #3BB75F;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
}


.right__nav .lang__dropdown{
    margin: 0 10px;
}

.lang__dropdown img{
    width: 20px;
    height: 24px;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
}

/* Hero Section */

.hero{
    position: relative;
    height: 100%;
    background: linear-gradient(var(--green), var(--green));
    overflow: hidden;
    padding: 0 0 40px;
}



.hero .row{
    height: inherit;
    display: flex;
}

.hero .write-up{
    padding: 130px 0;
    height: inherit;
    width: 100%;
    max-width: 600px;
    z-index: 9;
    background: linear-gradient(to right, var(--green), #f1fef483);
}

.write-up .paystack__btn{
    padding: 16px 34px !important;
    font-size: 17px !important;
    font-family: Graphik !important;
    font-weight: 500;
}

.write-up h1{
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
}

.write-up p{
    font-size: 19px;
    margin: 20px 0;
    color: #444;
}

.write-up .sales__btn{
    display: flex ;
    align-items: center;
    flex-wrap: wrap;
    line-height: 4;
}

.sales__btn .contact__btn{
    display: flex;
    align-items: center;
    color: #3BB75F;
}

.contact__btn span{
    margin: 0 6px 0 20px;
    font-weight: 500;
}

.contact__btn a{
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin-top: 2px;
    color: #3BB75F;
    
}

.hero .map{
    width: 40%;
    height: 100vh;
    background: url(../Img/map.svg) center/cover no-repeat;
    height: 80vh;
    width: 100%;
    position: absolute;
    right: -35%;
    top: 0px;
    bottom: 0;
}

.bottom__hero{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bottom__hero p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.bottom__hero .clients{
    display: flex;
    align-items: center;
    max-width: 500px;
}

.bottom__hero img{
  margin-right: 20px;
}

.bottom__hero .video__text{
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 300px;
    z-index: 1;
}

.video__text p{
    font-size: 15px;
    text-align: right;
    max-width: 400px;
    margin-left: auto;
}

.video__text svg{
    width: 44px;
    height: 44px;
    color: rgb(67, 185, 236);
    margin-left: 10px;
}


.simple__payments{
    padding: 100px 0;
}

.simple__payments h1{
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.simple__payments p{
    font-size: 18px;
    color: #444;
}

.simple__payments__contents{
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
    align-items: flex-start;
}

simple__payments__img{
    flex: 1;
}

.simple__payments__img img{
    width: 100%;
    object-fit: contain;
    max-width: 600px;
}

.simple__payments__features{
    flex: none;
    width: 100%;
    max-width: 500px;
    margin-left: 5%;
}

.simple__payments__features h1{
    line-height: 1.2;
    font-size: 34px;

}

.simple__payments__features p{
    font-size: 18px;
    color: #444;
}



.simple__payments__features ul li{
    display: flex;
    align-items: center;
    
}


.simple__payments__features svg{
    width: 38px;
    color: #3BB75F;
    font-weight: bold;
    height: auto;
    padding: 5px 8px;
    background: var(--green);
    border-radius: 5px;
    
}

.feature__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    max-width: 420px;
}

.simple__payments__features .feature__list  p{
    font-size: 16px;
    margin-left: -10px;
    font-weight: 500;
}












































































@media screen and (max-width: 1250px){
    header nav{
        padding: 0 20px;
    }

     .container{
        max-width: 1040px;
        padding: 0 20px;
    }

    .left__nav ul li a{
        padding: 0 10px;
        font-size: 13.5px;
    }
    .right__nav ul li a{
        padding: 0 10px;
        font-size: 13.5px;
    }
}

@media screen and (max-width: 1068px){
    .left__nav ul {
        display: none;
    }

    .right__nav ul{
        display: none !important;
    }

    .hamburger__menu svg{
        display: block;
    }

    header{
        border-bottom: 1px solid rgba(238, 238, 238, 0.492);
    }

    


}

@media screen and (max-width: 768px){
   .advert p{
       font-size: 12px;
   } 

   header nav{
    padding: 0 20px;
    font-size: 13px;
}

.video__text p{
    font-size: 14px;
    text-align: left;
    margin-left: 0;
}

.bottom__hero .video__text{
    border-top: 1px solid rgba(76, 58, 58, 0.061);
    padding-top: 30px;
    display: block;

}

.contact__btn span{
    margin: 0 6px 0 10px;
    
}

.simple__payments__contents{
    flex-direction: column;
}

.simple__payments__features{
    margin: 20px 0;
}


.hero .write-up{
    padding: 50px 0;
 }

 .write-up h1{
     font-size: 35px;
 }
 .write-up p{
     font-size: 16px;
 }
.simple__payments{
    padding: 50px 0;
}

 .simple__payments h1{
    font-size: 35px;
    margin-bottom: 10px;
}

.simple__payments p{
    font-size: 16px;
}

.simple__payments__features h1{
    font-size: 28px;
}

.video__text{
    flex-direction: column;
    justify-content: left;
    margin: 0;
    align-items: flex-start !important;
}

.video__text svg{
    margin-left: 0;
}

.video__text p{
    font-size: 18px;
    text-align: left;
}
}
